.noprint, #w3c_mast, .secondary_nav, .rec_support_data, .filter, .offscreen, p.date > a, p.more, img {display: none;}
.headline p.date {padding: 0; margin: 0;}
a:link, a:visited {color: #333; text-decoration: none;}