@CHARSET "ISO-8859-1";
body { font-size: 15pt;
	color: black;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
}
div > p {
	font-size: 0.6em;	
}
.marker {
	color: gray;
	text-decoration: underline; 
}